<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Frente a Policía de la Generalitat (C/ Cauce).</h1>
        <p>https://goo.gl/maps/WLS5HGCiUzPB1a1PA</p>
    </div>

    <div class="jumbotron">
        <h3>Paco el chocolatero</h3>
        <p><input type="checkbox" id="delivered"></p>

        <% const checkbox = document.getElementById('delivered') %>

        <% checkbox.addEventListener('change', (event) => { %>
            <% if (event.currentTarget.checked) { %>
                <% alert('checked'); %>
            <% } else { %>
            <% alert('not checked'); %>
            <% } %>
        <% }) %>
        
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>

</body>
</html>