<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Frente a Policía de la Generalitat (C/ Cauce).</h1>
        <p>https://goo.gl/maps/WLS5HGCiUzPB1a1PA</p>
    </div>

    <div class="jumbotron">

        <table>
            <tr>
                <th>Usuario</th>
                <th>Parada</th>
                <th>Entregado hoy (12/03/2023)</th>
            </tr>
            <tr>
                <td>Nombre de prueba 1</td>
                <td>Nombre de prueba 2</td>
                <td>Nombre de prueba 3</td>
            </tr>
            <tr>
                <td><input type="checkbox" id="delivered1"></td>
                <td><input type="checkbox" id="delivered2"></td>
                <td><input type="checkbox" id="delivered3"></td>
            </tr>
        </table> 

        <script>
            document.getElementById('delivered1').addEventListener('change', (event) =>
            {
                if (event.currentTarget.checked)
                {
                    alert('checked');
                }
                else
                {
                    alert('not checked');
                }
            });

            document.getElementById('delivered2').addEventListener('change', (event) =>
            {
                if (event.currentTarget.checked)
                {
                    alert('checked');
                }
                else
                {
                    alert('not checked');
                }
            });

            document.getElementById('delivered3').addEventListener('change', (event) =>
            {
                if (event.currentTarget.checked)
                {
                    alert('checked');
                }
                else
                {
                    alert('not checked');
                }
            });
        </script>
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>

</body>
</html>