<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Frente a Policía de la Generalitat (C/ Cauce).</h1>
        <p>https://goo.gl/maps/WLS5HGCiUzPB1a1PA</p>
    </div>

    <div class="jumbotron">
        <h3>Paco el chocolatero</h3>
        <p><input type="checkbox"></p>
    </div>
</main>

<footer>
    <%- include('../../partials/footer'); %>
</footer>

</body>
</html>