<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Conciénciate: Atención Nocturna</h1>
        <p>Conciénciate es una entidad que promueve el voluntariado social, principalmente entre los jóvenes, en favor de diversos colectivos vulnerables, principalmente niños y niñas en riesgo de exclusión social, personas con discapacidad, personas sin hogar y familias en situación de emergencia económica.</p>
    </div>

    <style>
        * {box-sizing: border-box}
        .tab {
            float: left;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 30%;
            height: 300px;
        }

        .tab button {
            display: block;
            background-color: inherit;
            color: black;
            padding: 22px 16px;
            width: 100%;
            border: none;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }

        .tabcontent {
            float: left;
            padding: 0px 12px;
            border: 1px solid #ccc;
            width: 70%;
            border-left: none;
            height: 300px;
        }
    </style>

    <script>
        function openStation(evt, station)
        {
            let i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++)
            {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++)
            {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById("station" + station).style.display = "block";
            evt.currentTarget.className += " active";
        }

        openStation(event, 0)
    </script>

    <div class="tab">
        <button class="tablinks" onclick="openStation(event, 0)">Frente a Policía de la Generalitat (C/ Cauce)</button>
        <button class="tablinks" onclick="openStation(event, 1)">Parque 1º de mayo</button>
        <button class="tablinks" onclick="openStation(event, 2)">BBVA Avda. de Novelda</button>
        <button class="tablinks" onclick="openStation(event, 3)">Chimeneas (Avda. de la Libertad)</button>
        <button class="tablinks" onclick="openStation(event, 4)">Hiperber y Santander (C/ Reina Victoria)</button>
        <button class="tablinks" onclick="openStation(event, 5)">Trasera de San José, antiguos bomberos</button>
        <button class="tablinks" onclick="openStation(event, 6)">Avda. de Dolores (Puertas Coloradas)</button>
        <button class="tablinks" onclick="openStation(event, 7)">Puente de Barrachina</button>
        <button class="tablinks" onclick="openStation(event, 8)">La Lonja</button>
        <button class="tablinks" onclick="openStation(event, 9)">Gasolinera (Ctra. de Castilla)</button>
    </div>
    
    <div id="station0" class="tabcontent">
        <h3>Federico Sánchez</h3>
    </div>

    <div id="station1" class="tabcontent">
        <h3>Aitor Vaillo</h3>
    </div>

    <div id="station2" class="tabcontent">
        <h3>Antonio Parrales</h3>
    </div>

    <div id="station3" class="tabcontent">
        <h3>María Esperanza</h3>
    </div>

    <div id="station4" class="tabcontent">
        <h3>No sé que más nombres poner</h3>
    </div>

    <div id="station5" class="tabcontent">
        <h3>No sé que más nombres poner x2</h3>
    </div>

    <div id="station6" class="tabcontent">
        <h3>No sé que más nombres poner x3</h3>
    </div>

    <div id="station7" class="tabcontent">
        <h3>No sé que más nombres poner x4</h3>
    </div>

    <div id="station8" class="tabcontent">
        <h3>No sé que más nombres poner x5</h3>
    </div>

    <div id="station9" class="tabcontent">
        <h3>No sé que más nombres poner x6</h3>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>