<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Conciénciate</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Sobre está página web (manual)</a>
            <a class="nav-link" href="/">Frente a Policía de la Generalitat</a>
            <a class="nav-link" href="/">Parque 1º de mayo</a>
            <a class="nav-link" href="/">BBVA Avda. de Novelda</a>
            <a class="nav-link" href="/">Chimeneas (Avda. de la Libertad)</a>
            <a class="nav-link" href="/">Hiperber y Santander (C/ Reina Victoria)</a>
            <a class="nav-link" href="/">Trasera de San José, antiguos bomberos.</a>
            <a class="nav-link" href="/">Avda. de Dolores (Puertas Coloradas).</a>
            <a class="nav-link" href="/">Puente de Barrachina.</a>
            <a class="nav-link" href="/">La Lonja.</a>
            <a class="nav-link" href="/">Gasolinera (Ctra. de Castilla)</a>
        </li>
    </ul>
</nav>