<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://le-cdn.website-editor.net/s/b00cde9812bb48338bad84e758231965/dms3rep/multi/opt/logotipo+conci%C3%A9nciate-186w.png?Expires=1680331054&Signature=mQAkWVxVHEmrbUFajB2KtxXgqIV5CHqFN1wnqpfuSNTegi8Mx8r~X79fCIM5NLZN4GOvnZElnT9EeWxqGsORaLpHYzqkvbRF9gPo6pt3l0iM9uoCINmX7R6NOwpUlesnd0HXMkgo30ZhBIYsyqt7zkoaW6VIu5ZR19cn0q7bQrzmp5U6TLjPzm3Ws4OytRtbaK6nzTsPnVTXPHUQpVlRl498Vsq1z3ZguSbRj495UqK51cCB44TftuAuCEMn4Bd7aY11mb2zhd5Cj5fh5qO~gXj5yK8rgOteSs3GOySxRogfWZBky-yNmi1c29BXTj9BsDE8JB6SP3M-7dP46F3uqw__&Key-Pair-Id=K2NXBXLF010TJW"/>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Sobre está página web (manual)</a>
        </li>
    </ul>
</nav>