<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Conciénciate</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Sobre está página web (manual)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Paradas</a>
            <ul>
                <a class="nav-link" href="/">Frente a Policía de la Generalitat (C/ Cauce).</a>
            </ul>
        </li>
    </ul>
</nav>