<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Paradas en el sistema</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">1. Frente a Policía de la Generalitat</a>
            <a class="nav-link" href="/">2. Parque 1º de mayo</a>
            <a class="nav-link" href="/">3. BBVA Avda. de Novelda</a>
            <a class="nav-link" href="/">4. Chimeneas (Avda. de la Libertad)</a>
            <a class="nav-link" href="/">5. Hiperber y Santander (C/ Reina Victoria)</a>
            <a class="nav-link" href="/">6. Trasera de San José, antiguos bomberos.</a>
            <a class="nav-link" href="/">7. Avda. de Dolores (Puertas Coloradas).</a>
            <a class="nav-link" href="/">8. Puente de Barrachina.</a>
            <a class="nav-link" href="/">9. La Lonja.</a>
            <a class="nav-link" href="/">10. Gasolinera (Ctra. de Castilla)</a>
        </li>
    </ul>
</nav>